<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.appvanta.share.helper" android:versionCode="1" android:versionName="0.1">
  <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="35" />
  <application android:label="AppVanta Share Helper" android:allowBackup="false">
    <activity android:name=".ShareActivity" android:exported="true" android:permission="android.permission.DUMP" android:launchMode="singleTop" />
    <provider android:name=".ReceiptProvider" android:authorities="dev.appvanta.share.helper" android:exported="true" android:permission="android.permission.DUMP" />
    <provider android:name=".UploadProvider" android:authorities="dev.appvanta.share.uploads" android:exported="true" android:readPermission="android.permission.DUMP" android:writePermission="android.permission.DUMP" android:grantUriPermissions="true" />
  </application>
</manifest>
